
Day_003/.ipynb_checkpoints/.Day003_HW-checkpoint.ipynb.icloud
Day_003/.ipynb_checkpoints/.Day003_Sample-checkpoint.ipynb.icloud
Day_003/.ipynb_checkpoints/Day003_HW-checkpoint.ipynb
Day_003/.ipynb_checkpoints/Day003_Sample-checkpoint.ipynb
Day_003/.ipynb_checkpoints/Day003_HW-checkpoint.ipynb
Day_003/.ipynb_checkpoints/Day003_Sample-checkpoint.ipynb
Day_003/.Day003_HW.ipynb.icloud
Day_003/.Day003_Sample.ipynb.icloud
Day_003/Day003/.10013_72hr_CH.xml.icloud
Day_003/Day003/.10013_72hr_EN.xml.icloud
Day_003/Day003/.10013_Weekday_CH.xml.icloud
Day_003/Day003/.10013_Weekday_EN.xml.icloud
Day_003/Day003/.64_72hr_CH.xml.icloud
Day_003/Day003/.64_72hr_EN.xml.icloud
Day_003/Day003/.64_Weekday_CH.xml.icloud
Day_003/Day003/.64_Weekday_EN.xml.icloud
Day_003/Day003/.67_72hr_CH.xml.icloud
Day_003/Day003/.67_72hr_EN.xml.icloud
Day_003/Day003/.67_Weekday_CH.xml.icloud
Day_003/Day003/.67_Weekday_EN.xml.icloud
Day_003/Day003/10013_72hr_CH.xml
Day_003/Day003/10013_72hr_EN.xml
Day_003/Day003/10013_Weekday_CH.xml
Day_003/Day003/10013_Weekday_EN.xml
Day_003/Day003/64_72hr_CH.xml
Day_003/Day003/64_72hr_EN.xml
Day_003/Day003/64_Weekday_CH.xml
Day_003/Day003/64_Weekday_EN.xml
Day_003/Day003/67_72hr_CH.xml
Day_003/Day003/67_72hr_EN.xml
Day_003/Day003/67_Weekday_CH.xml
Day_003/Day003/67_Weekday_EN.xml
Day_003/Day003_HW.ipynb
Day_003/Day003_Sample.ipynb
Day_003/.ipynb_checkpoints/Day003_HW-checkpoint.ipynb
Day_003/.ipynb_checkpoints/Day003_Sample-checkpoint.ipynb
Day_003/Day003/10013_72hr_CH.xml
Day_003/Day003/10013_72hr_EN.xml
Day_003/Day003/10013_Weekday_CH.xml
Day_003/Day003/10013_Weekday_EN.xml
Day_003/Day003/64_72hr_CH.xml
Day_003/Day003/64_72hr_EN.xml
Day_003/Day003/64_Weekday_CH.xml
Day_003/Day003/64_Weekday_EN.xml
Day_003/Day003/67_72hr_CH.xml
Day_003/Day003/67_72hr_EN.xml
Day_003/Day003/67_Weekday_CH.xml
Day_003/Day003/67_Weekday_EN.xml
Day_003/Day003_HW.ipynb
Day_003/Day003_Sample.ipynb
*.txt
jieba/__init__.py
jieba/__main__.py
jieba/_compat.py
jieba/analyse/__init__.py
jieba/analyse/analyzer.py
jieba/analyse/textrank.py
jieba/analyse/tfidf.py
jieba/finalseg/__init__.py
jieba/finalseg/prob_emit.p
jieba/finalseg/prob_emit.py
jieba/finalseg/prob_start.p
jieba/finalseg/prob_start.py
jieba/finalseg/prob_trans.p
jieba/finalseg/prob_trans.py
jieba/posseg/__init__.py
jieba/posseg/char_state_tab.p
jieba/posseg/char_state_tab.py
jieba/posseg/prob_emit.p
jieba/posseg/prob_emit.py
jieba/posseg/prob_start.p
jieba/posseg/prob_start.py
jieba/posseg/prob_trans.p
jieba/posseg/prob_trans.py
jieba/posseg/viterbi.py
