
Day_003/.ipynb_checkpoints/.Day003_HW-checkpoint.ipynb.icloud
Day_003/.ipynb_checkpoints/.Day003_Sample-checkpoint.ipynb.icloud
Day_003/.ipynb_checkpoints/Day003_HW-checkpoint.ipynb
Day_003/.ipynb_checkpoints/Day003_Sample-checkpoint.ipynb
Day_003/.ipynb_checkpoints/Day003_HW-checkpoint.ipynb
Day_003/.ipynb_checkpoints/Day003_Sample-checkpoint.ipynb
Day_003/.Day003_HW.ipynb.icloud
Day_003/.Day003_Sample.ipynb.icloud
Day_003/Day003/.10013_72hr_CH.xml.icloud
Day_003/Day003/.10013_72hr_EN.xml.icloud
Day_003/Day003/.10013_Weekday_CH.xml.icloud
Day_003/Day003/.10013_Weekday_EN.xml.icloud
Day_003/Day003/.64_72hr_CH.xml.icloud
Day_003/Day003/.64_72hr_EN.xml.icloud
Day_003/Day003/.64_Weekday_CH.xml.icloud
Day_003/Day003/.64_Weekday_EN.xml.icloud
Day_003/Day003/.67_72hr_CH.xml.icloud
Day_003/Day003/.67_72hr_EN.xml.icloud
Day_003/Day003/.67_Weekday_CH.xml.icloud
Day_003/Day003/.67_Weekday_EN.xml.icloud
Day_003/Day003/10013_72hr_CH.xml
Day_003/Day003/10013_72hr_EN.xml
Day_003/Day003/10013_Weekday_CH.xml
Day_003/Day003/10013_Weekday_EN.xml
Day_003/Day003/64_72hr_CH.xml
Day_003/Day003/64_72hr_EN.xml
Day_003/Day003/64_Weekday_CH.xml
Day_003/Day003/64_Weekday_EN.xml
Day_003/Day003/67_72hr_CH.xml
Day_003/Day003/67_72hr_EN.xml
Day_003/Day003/67_Weekday_CH.xml
Day_003/Day003/67_Weekday_EN.xml
Day_003/Day003_HW.ipynb
Day_003/Day003_Sample.ipynb
Day_003/.ipynb_checkpoints/Day003_HW-checkpoint.ipynb
Day_003/.ipynb_checkpoints/Day003_Sample-checkpoint.ipynb
Day_003/Day003/10013_72hr_CH.xml
Day_003/Day003/10013_72hr_EN.xml
Day_003/Day003/10013_Weekday_CH.xml
Day_003/Day003/10013_Weekday_EN.xml
Day_003/Day003/64_72hr_CH.xml
Day_003/Day003/64_72hr_EN.xml
Day_003/Day003/64_Weekday_CH.xml
Day_003/Day003/64_Weekday_EN.xml
Day_003/Day003/67_72hr_CH.xml
Day_003/Day003/67_72hr_EN.xml
Day_003/Day003/67_Weekday_CH.xml
Day_003/Day003/67_Weekday_EN.xml
Day_003/Day003_HW.ipynb
Day_003/Day003_Sample.ipynb
