
Day_003/.ipynb_checkpoints/.Day003_HW-checkpoint.ipynb.icloud
Day_003/.ipynb_checkpoints/.Day003_Sample-checkpoint.ipynb.icloud
Day_003/.ipynb_checkpoints/Day003_HW-checkpoint.ipynb
Day_003/.ipynb_checkpoints/Day003_Sample-checkpoint.ipynb
Day_003/.ipynb_checkpoints/Day003_HW-checkpoint.ipynb
Day_003/.ipynb_checkpoints/Day003_Sample-checkpoint.ipynb
